.jumbotron {
    background-color: rgba(218, 234, 243, 0.31) !important;
    color: #635f5f !important;
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 20px;
}

#header  {
    background: none repeat scroll 0 0 #3a62f2;
    min-height: 100px;
    padding-top: 2em;
    width: 100%;
}

#header img{
	border: none;
	padding-right: 60px;
}


/* Logo */


#logo
{
/*position: absolute;
bottom: 0.6em;*/
}

#logo h1
{
/*display: inline;*/
color: #fff;
font-size: 2.6em;
}

#logo h2
{
display: inline;
padding-left: 0.5em;
color: #DAEAF3;
font-size: 1.3em;
}

.navbar-brand {
  margin-right: 2px;  
  margin-top: -10px;
}
	
.lugar_sesion{
	border: solid 1px #66000F;
	background-color: #FFECEC;
	padding: 0.5em 0.2em 0.2em 0.5em;
	margin-bottom: 1em;
	color: #585858 ! important;
}

.lugar_sesion p{
	margin-bottom: 0em ! important;
}

.lugar_sesion h2{
	text-transform: none ! important;
	font-weight: none ! important;
	color: #66000F ! important;
}


.lugar_sesion  dl
{
margin: 0;
padding: 0;
}

.lugar_sesion  dt
{
margin: 0;
padding: 0;
font-weight: bold;
}

.lugar_sesion  dd
{
margin: 0 0 0.5em 1em;
padding: 0;
}

.question{
	margin-bottom: 0em !important;
	margin-top: 0.8em;
	font-weight: bold;
}

.bien{
	color: #54a95b!important;
}


.mal{
	color: #FF0000!important;
}

.opcion_mal{
	color: #FF0000!important;
	text-decoration: line-through;
}

.opcion_corregida{
	font-weight: bold;
    color: #54a95b!important;
	text-decoration: underline;
}


.nc{
	/*color: #FF6600!important;*/
}

#result{
	/*border: solid 1px #66000F;
	background-color: #FFECEC;*/

	background-color: #daeaf3;
  	border: 1px solid #2072A2;

	padding: 1em 0.5em 0.5em 1em;
	margin-left: 10%;
	margin-right: 2em;
	margin-bottom: 1.5em;
	margin-top: 1em;
	color: #585858 ! important;
	width: 60%;
	
}
.desc
{
	font-weight: bold;
    float:left; 
	width:18%;

}
.vcenter {
	font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    float: none;
}


#exam_navigation{
	margin-bottom: 1em;
}

.info{
	color: #0099AA;
}

table.tabla-puntuacion td {
	padding: 3px;
	text-align: center;
	
}

table.tabla-puntuacion thead tr {
	font-weight: bold;	
}
